    body {
        margin:0;
    }

    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    .topnav a {
        float: left;
        display: block;
        color: #ffc0cb;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: "verdana"
    }
    .topnav a:hover {
        background-color: #333;
        color: black;
    }
    .topnav a.active {
        background-color: #cecece;
        color: white;
    }
    a:link {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: magenta;
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
    }
    .container {
        position: relative;
        left: 30px;
        font-family: verdana;
    }
    hr {
        width: 70%;
    }
    body {
        background-color:black;
        background-image: url("YESSSS.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        text-align:left;
    }
    ul {
        color: white;
        }
    small {
        padding-top: 0px;
        color:white;
    }
